<h1>
  {{people | swapiItemToReadableName}}
</h1>
<p>
  <b>{{people | swapiItemToReadableName}}</b> is a star wars character.<br/>
  {{people | swapiItemToReadableName}} is about <b>{{people.height}}cm</b> and weights about <b>{{people.mass}}kg</b>.<br/>
  {{people | swapiItemToReadableName}}'s sex is <b>{{people.gender}}</b>, eyes are <b>{{people.eye_color}}</b>,
  skin is <b>{{people.skin_color}}</b>, hair color is <b>{{people.hair_color}}</b>,<br/>
  {{people | swapiItemToReadableName}} is born the <b>{{people.birth_year}}</b>
  <a *ngIf="people.homeworld" [routerLink]="['', (people.homeworld | resolveItemFromUrl | async | getTypeFromItem), (people.homeworld | resolveItemFromUrl | async | getIdFromItem)]">
    on planet {{people.homeworld | resolveItemFromUrl | async | swapiItemToReadableName}}
  </a>
</p>
<p>
  {{people | swapiItemToReadableName}} is in a few <b>star wars movies</b> :<br/>
  <app-urls-list-to-readable-clickable-items [listOfUrls]="people.films"></app-urls-list-to-readable-clickable-items>
</p>
<p>
  {{people | swapiItemToReadableName}} belongs to <b>species</b> :<br/>
  <app-urls-list-to-readable-clickable-items [listOfUrls]="people.species"></app-urls-list-to-readable-clickable-items>
</p>
<p>
  {{people | swapiItemToReadableName}} can drive those <b>vehicles</b> :<br/>
  <app-urls-list-to-readable-clickable-items [listOfUrls]="people.vehicles"></app-urls-list-to-readable-clickable-items>
</p>
<p>
  {{people | swapiItemToReadableName}} fly in a few <b>starships</b> :<br/>
  <app-urls-list-to-readable-clickable-items [listOfUrls]="people.starships"></app-urls-list-to-readable-clickable-items>
</p>