<h1>
  {{starship | swapiItemToReadableName}}
</h1>
<p>
  <b>{{starship | swapiItemToReadableName}}</b> is a star wars starship.<br/>
  {{starship | swapiItemToReadableName}} model name is <b>{{starship.model}}</b>.<br/>
  It has been manufactured by <b>{{starship.manufacturer}}</b> for a total cost of
  <b>{{starship.cost_in_credits}}credits</b>.<br/>
  Its max speed in atmospher is <b>{{starship.max_atmosphering_speed}}</b>.<br/>
  Its crew number is <b>{{starship.crew}}</b>, and he can transport <b>{{starship.passengers}}</b> passengers.<br/>
  It has a cargo capacity of <b>{{starship.cargo_capacity}}</b> and can hold <b>{{starship.consumables}}</b> without refill.<br/>
  It's a <b>{{starship.starship_class}}</b> with a hyperdrive rate of <b>{{starship.hyperdrive_rating}}</b> and a MGLT of <b>{{starship['MGLT']}}</b>.
</p>
<p>
  Amongst its pilot we can find :<br/>
  <app-urls-list-to-readable-clickable-items [listOfUrls]="starship.pilots"></app-urls-list-to-readable-clickable-items>
</p>
<p>
  We can see this starship in a few <b>films</b> :<br/>
  <app-urls-list-to-readable-clickable-items [listOfUrls]="starship.films"></app-urls-list-to-readable-clickable-items>
</p>