<h1>
  {{film | swapiItemToReadableName}}
</h1>
<p>
  {{film.opening_crawl}}
</p>
<p>
  "<b>{{film | swapiItemToReadableName}}</b>" is the episode <b>{{film.episode_id}}</b> of the star wars films serie.<br/>
  It's been directed by <b>{{film.director}}</b> and produced by <br/>
  <b>{{film.producer}}</b>
  It was released in theatre in <b>{{film.release_date}}</b><br/>
  Watching this film, you'll meet following characters :<br/>
</p>
<app-urls-list-to-readable-clickable-items [listOfUrls]="film.characters">

</app-urls-list-to-readable-clickable-items>